* {
	margin: 0;
	padding: 0;
	outline: 0;
}
body {
	background-color: #eceef2;
	font-family: "Roboto", sans-serif !important;
	min-height: 100vh;
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.container_teamScore {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}
.container_own {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	min-height: 100vh;
}

.card_score {
	background-color: #fdfdfe;
	padding: 5px 25px 5px 25px;
	border-radius: 5px;
	width: 150px;
	display: flex;
	flex-direction: column;
	margin: 10px;
}
.subtitle_own {
	background-color: #19d6ba;
	padding: 8px;
	width: auto;
	border-radius: 10px;
	color: #fdfdfe;
	margin: 15px;
}
.is-centered {
	display: flex;
	justify-content: center;
	width: 100%;
}
.button_own {
	color: #fdfdfe;
	padding: 5px 25px 5px 25px;
	font-size: 30px;
	background-color: #3273dc;
	width: auto;
	border-radius: 10px;
	margin-top: 40px;
	cursor: pointer;
}
p {
	width: 100%;
	font-size: 50px;
	cursor: pointer;
	text-align: center;
}
::selection {
	background: transparent;
}
#player_number:active {
	background: transparent;
}
#chrono_container {
	display: none;
}
.equipe {
	color: #fdfdfe;
	padding: 5px 25px 5px 25px;
	font-size: 0.8em;
	background-color: #19d6ba;
	width: auto;
	border-radius: 10px;
	margin-top: 40px;
	cursor: pointer;
	display: none;
}

/*menu backdrop*/
nav {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: none;
}

ul {
	list-style: none;
	padding: 0;
	z-index: 2;
}

ul li {
	text-align: center;
	animation: 0.3s print;
	margin: 20px;
}
ul li .button_own {
	margin-bottom: 114px;
}

li a {
	text-decoration: none;
	font-size: 3em;
	text-transform: uppercase;
	font-weight: bold;
	font-family: arial;
	color: white;
}

ul li a:hover {
	color: #ff9234;
}

.open {
	display: flex;
	justify-content: center;
	align-items: center;
}
.backdrop {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0, 0, 0, 0.9);
	cursor: pointer;
	animation: fade 0.1s;
}
@keyframes print {
	from {
		margin-top: -50px;
		opacity: 0;
	}
	to {
		margin-top: 0;
		opacity: 1;
	}
}

@keyframes fade {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
