* {
	margin: 0;
	padding: 0;
}
body {
	background-color: #eceef2;
	font-family: "Roboto", sans-serif !important;
	min-height: 100vh;
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.container_teamScore {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}
.container_own {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	min-height: 100vh;
}

.card_score {
	background-color: #fdfdfe;
	border-radius: 5px;
	width: 200px;
	display: flex;
	flex-wrap: nowrap;
	position: relative;
	margin: 20px;
}
.subtitle_own {
	background-color: #19d6ba;
	padding: 8px;
	width: auto;
	border-radius: 10px;
	color: #fdfdfe;
	margin: 15px;
}

.is-centered {
	display: flex;
	justify-content: center;
	width: 100%;
}
.button_own {
	color: #fdfdfe;
	padding: 5px 25px 5px 25px;
	font-size: 30px;
	background-color: #3273dc;
	width: auto;
	border-radius: 10px;
	margin-top: 40px;
	cursor: pointer;
}
#chrono p {
	background-color: #fdfdfe;
	border-radius: 10px;
	padding: 5px;
}
p {
	width: 100%;
	font-size: 50px;
	cursor: pointer;
	text-align: center;
}

.score {
	width: min-content;
	font-size: 80px;
	cursor: pointer;
	text-align: center;
	margin: auto;
	width: 100% !important;
}
::selection {
	background: transparent;
}
#player_number:active {
	background: transparent;
}
#chrono_container {
	display: none;
	width: 350px;
}
.container_button_chrono {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.equipe {
	color: #fdfdfe;
	padding: 5px;
	font-size: 30px;
	font-weight: bold;
	background-color: #19d6ba;
	height: 150px;
	border-radius: 5px 0px 0px 5px;
	cursor: pointer;
	display: none;
	width: min-content;
	align-items: center;
	justify-content: center;
	z-index: 2;
}

.scoreLess {
	position: absolute;
	width: 100%;
	bottom: 0;
	right: 0;
	height: 50%;
	border-top: 1px solid #eceef2;
	cursor: pointer;
}
/*menu backdrop*/
nav {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: none;
	z-index: 9;
}

.backdrop {
	list-style: none;
	padding: 0;
}

.backdrop-item {
	text-decoration: none;
	color: white;
	z-index: 2;
}

.open {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.backdrop {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0, 0, 0, 0.9);
	cursor: pointer;
	animation: fade 0.1s;
}
@keyframes print {
	from {
		margin-top: -50px;
		opacity: 0;
	}
	to {
		margin-top: 0;
		opacity: 1;
	}
}

@keyframes fade {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@media all and (max-width: 500px) {
	#chrono_container {
		width: 260px;
	}
}
